<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="./libs/iconfont/material-icons.css">
    <link rel="stylesheet" href="./node_modules/angular-material-data-table/dist/md-data-table.min.css">
    <title>Material App</title>
  </head>
  <body>
   
    <div layout="column" style="height: 100%">
      <section layout="row" flex="flex" style="height: 100%">
        <div ng-controller="SideNavCtrl" style="height: 100%">
          <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop="" class="md-sidenav-left">
            <md-toolbar class="md-hue-2 md-whiteframe-z1">
              <div class="md-toolbar-tools">
                <md-button aria-label="Main" ng-click="toggleLeft()" ui-sref="main" class="md-icon-button">
                  <md-icon class="material-icons">desktop_windows</md-icon>
                </md-button>
                <h2><span>iChare</span></h2>
              </div>
            </md-toolbar>
            <md-content>
              <md-subheader>Main Menu
                <md-menu-content>
                  <md-menu-item>
                    <md-button ui-sref="users">
                      <md-icon md-menu-align-target="md-menu-align-target"><i class="material-icons">person</i></md-icon>ทะเบียนสมาชิก
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ui-sref="groups">
                      <md-icon md-menu-align-target="md-menu-align-target"><i class="material-icons">group</i></md-icon>ประเภทสมาชิก
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ui-sref="reports">
                      <md-icon md-menu-align-target="md-menu-align-target"><i class="material-icons">pie_chart</i></md-icon>รายงาน
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-subheader>
             
              <md-divider></md-divider>
              <md-subheader>Tools
                <md-menu-content>
                  <md-menu-item>
                    <md-button ui-sref="settings">
                      <md-icon md-menu-align-target="md-menu-align-target"><i class="material-icons">settings</i></md-icon>กำหนดค่าการเชื่อมต่อ
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button href="./login.html">
                      <md-icon md-menu-align-target="md-menu-align-target"><i class="material-icons">exit_to_app</i></md-icon>ออกจากระบบ
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-subheader>
            </md-content>
          </md-sidenav>
        </div>
        <md-content layout="column" layout-fill="layout-fill" layout-align="top center" style="background-color: #e9ebee;">
          <div layout="column" layout-fill="layout-fill" ng-controller="ToolbarCtrl">
            <md-toolbar class="md-hue-2">
              <div class="md-toolbar-tools">
                <md-button aria-label="Toggle" ng-click="toggleLeft()" hide-gt-sm="hide-gt-sm" class="md-icon-button">
                  <md-icon class="material-icons">menu</md-icon>
                </md-button>
                <h2>Members Management System</h2>
              </div>
            </md-toolbar>
            <div>
              <ui-view></ui-view>
            </div>
          </div>
        </md-content>
      </section>
    </div>

  </body>

  <script>
    require('angular')
    require('angular-material')
    require('angular-ui-router')
    require('angular-animate')
    require('angular-aria')
    require('angular-messages')
    require('angular-material-data-table')

    window.Highcharts = require('highcharts')
    require('./node_modules/highcharts-ng/dist/highcharts-ng.min.js')
    
    require('./renderer.js')
    require('./controllers/sidenav.js')
    require('./controllers/toolbar.js')
    require('./controllers/main.js')
    require('./controllers/users.js')
    require('./controllers/settings.js')
    require('./controllers/groups.js')
    require('./controllers/add-member-dialog.js')
    require('./controllers/update-member-dialog.js')
    require('./controllers/reports.js')

    require('./services/users.js')
    require('./services/connection.js')
    
  </script>
</html>
