<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools"><i class="material-icons">group</i>
    <h2>&nbsp; เตรียมข้อมูลตั้งต้น/อนุญาตบันทึกตารางปฏิบัติงาน</h2><span flex="flex"></span>
  </div>
</md-toolbar>

<md-progress-linear md-mode="indeterminate" ng-show="showLoading"></md-progress-linear>

<md-content layout-padding>
  <div layout-gt-xs="row" style="background-color: white;">
    <div flex="15">
      <md-input-container>
        <label for="">เดือน</label>
        <md-select ng-model="monthCode">
          <md-option><em>เลือกเดือน</em></md-option>
          <md-option ng-repeat="month in months" ng-value="month.month">
            {{month.name}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div flex="15">
      <md-input-container>
        <label for="">ปี</label>
        <md-select ng-model="yearCode"
          <md-option><em>เลือกปี</em></md-option>
          <md-option ng-repeat="year in years" ng-value="year.year">
            {{ year.name }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div flex="5">
      <md-input-container>
        <md-button class="md-raised md-primary" ng-click="doAddAllow()" ng-disabled="!yearCode || !monthCode">เพิ่ม</md-button>
      </md-input-container>
    </div>
  </div>

    &nbsp;
  <md-table-container style="background-color: white;">
    <table md-table="md-table">
      <thead md-head="md-head">
        <tr md-row="md-row">
          <th md-column="md-column">#</th>
          <th md-column="md-column">เดือน</th>
          <th md-column="md-column">ปี</th>
        </tr>
      </thead>
      <tbody md-body="md-body">
        <tr md-row="md-row" ng-if="!logs.length">
          <td md-cell="md-cell" colspan="3">ไม่พบรายการ</td>
        </tr>
        <tr md-row="md-row" ng-repeat="e in logs" ng-if="logs.length">
          <td md-cell="md-cell">{{ $index + 1 }}</td>
          <td md-cell="md-cell">{{ e.amonth }}</td>
          <td md-cell="md-cell">{{ e.ayear }}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>


 