<md-dialog aria-label="ข้อมูลการลงเวลา (ครอบคลุม)" flex="50">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>ข้อมูลการลงเวลา (ครอบคลุม)</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">
            <i class="material-icons">close</i>
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-table-container style="background-color: white;">
          <table md-table="md-table">
            <thead md-head="md-head">
              <tr md-row="md-row">
                <th md-column="md-column">#</th>
                <th md-column="md-column">วันที่</th>
                <th md-column="md-column">เวลา</th>
              </tr>
            </thead>
            <tbody md-body="md-body">
              <tr md-row="md-row" ng-if="!attendances.length">
                <td md-cell="md-cell" colspan="3">ไม่พบรายการ</td>
              </tr>
              <tr md-row="md-row" ng-repeat="e in attendances" ng-if="attendances.length">
                <td md-cell="md-cell">{{ $index + 1 }}</td>
                <td md-cell="md-cell">{{ e.checkin_date }}</td>
                <td md-cell="md-cell">{{ e.time }}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        ปิดหน้าต่าง
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>