<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools"><i class="material-icons">pie_chart</i>
    <h2>&nbsp; ระบบรายงาน (Reports)</h2><span flex="flex"></span>
  </div>
</md-toolbar>

<md-progress-linear md-mode="indeterminate" ng-show="showLoading"></md-progress-linear>

<md-content layout-padding>
  <div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="สรุปการสแกนลายนิ้วมือ">
        <md-content class="md-padding">
           <div layout-gt-xs="row" style="background-color: white;">
      <md-input-container>
        <label>จากวันที่</label>
        <md-datepicker ng-model="startDate"></md-datepicker>
      </md-input-container>
      <md-input-container>
        <label>ถึงวันที่</label>
        <md-datepicker ng-model="endDate"></md-datepicker>
      </md-input-container>

      <md-input-container>
        <md-button class="md-raised md-primary" ng-disabled="showLoading" ng-click="getWorkLate()">ประมวลผล</md-button>
      </md-input-container>

      <md-input-container>
        <md-button class="md-raised md-primary" ng-disabled="!attendances.length" ng-click="exportExcel()">ส่งออก</md-button>
      </md-input-container>
  </div>
      <md-input-container class="md-block" flex-gt-xs>
        <label>รหัสพนักงาน/ชื่อพนักงาน</label>
        <input ng-model="queryEmployee">
      </md-input-container>
    &nbsp;
  <md-table-container style="background-color: white;">
    <table md-table="md-table">
      <thead md-head="md-head">
        <tr md-row="md-row">
          <th md-column="md-column">#</th>
          <!--<th md-column="md-column">รหัส</th>-->
          <th md-column="md-column">ชื่อ-สกุล</th>
          <th md-column="md-column">หน่วยงาน</th>
          <th md-column="md-column">ทั้งหมด</th>
          <th md-column="md-column">สาย</th>
          <th md-column="md-column">ออกก่อน</th>
          <th md-column="md-column">ไม่ลงออก</th>
          <th md-column="md-column"></th>
        </tr>
      </thead>
      <tbody md-body="md-body">
        <tr md-row="md-row" ng-if="!attendances.length">
          <td md-cell="md-cell" colspan="8">ไม่พบรายการ</td>
        </tr>
        <tr md-row="md-row" ng-repeat="e in attendances | filter: queryEmployee" ng-if="attendances.length">
          <td md-cell="md-cell">{{ $index + 1 }}</td>
          <!--<td md-cell="md-cell">{{ e.employee_code }}</td>-->
          <td md-cell="md-cell">{{ e.fullname }}</td>
          <td md-cell="md-cell">{{ e.department_name }}</td>
          <td md-cell="md-cell">{{ e.total_work | number }}</td>
          <td md-cell="md-cell">{{ e.total_late | number }}</td>
          <td md-cell="md-cell">{{ e.total_exit_before | number }}</td>
          <td md-cell="md-cell">{{ e.total_not_exit | number }}</td>
          <td md-cell="md-cell">
            <md-menu>
              <md-button aria-label="More" ng-click="openMenu($mdOpenMenu, $event)" class="md-icon-button">
                <md-icon class="material-icons">dialpad</md-icon>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button ng-click="printSummary($event, e)">
                    <md-icon class="material-icons">print</md-icon>&nbsp; พิมพ์สรุปการสแกนลายนิ้วมือ
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-disabled="!e.total_late" ng-click="showWorklateDetail($event, e)">
                    <md-icon class="material-icons">search</md-icon>&nbsp; วันที่มาสาย
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-disabled="!e.total_exit_before" ng-click="showExitDetail($event, e)">
                    <md-icon class="material-icons">search</md-icon>&nbsp; วันที่ออกก่อน
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-disabled="!e.total_not_exit" ng-click="showNotExitDetail($event, e)">
                    <md-icon class="material-icons">search</md-icon>&nbsp; วันที่ไม่สแกนออก
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

</md-content>